apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-demo
  namespace: argocd
spec:
  project: default

  sources:
    # 1️⃣ Helm chart source (App repo)
    - repoURL: https://github.com/akashjaiswal36/devops-platform-nodejs-app
      targetRevision: main
      path: helm/devops-demo
      helm:
        valueFiles:
          - $values/apps/devops-demo/values.yaml

    # 2️⃣ Values source (GitOps repo)
    - repoURL: https://github.com/akashjaiswal36/devops-platform-gitops
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
